.text-field {
    -fx-border-color: #FE724C;
    -fx-border-width: 2px;
    -fx-border-radius: 4px; 
    -fx-background-radius: 4px;  
    -fx-prompt-text-fill: #2B3674;
    -fx-font-family: "Sofia Pro";
    -fx-font-size: 14px;
    -fx-text-fill: #2B3674;
}

.check-box {
    -fx-font-family: "Sofia Pro";
    -fx-font-size: 14px;
    -fx-text-fill: #2B3674;
}

.check-box .box {
    -fx-pref-width: 23px;
    -fx-pref-height: 23px;
    -fx-border-color: #FE724C;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-background-color: transparent;
}

.check-box:selected .box {
    -fx-background-color: #FE724C;
    -fx-border-color: #FE724C;
}

.check-box:selected .mark {
    -fx-background-color: #2B3674;
}

.check-box .text {
    -fx-padding: 0 0 0 8px; 
}

.date-picker {
    -fx-font-family: "Sofia Pro";
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #2B3674;
    -fx-text-fill: #2B3674;
    -fx-background-color: transparent;
    -fx-border-color: #FE724C;  
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.date-picker .text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent; 
    -fx-prompt-text-fill: #2B3674;
    -fx-text-fill: #2B3674;
    -fx-background-insets: 0;       
    -fx-background-radius: 0;      
    -fx-padding: 0;               
}

.date-picker .arrow-button {
    -fx-background-color: transparent !important;
    -fx-border-color: transparent;
}


.date-picker .arrow {
    -fx-background-color: #2B3674 !important;
}

.btn-button {
    -fx-font-family: "Sofia Pro";
    -fx-font-size: 15px;
    -fx-background-color: #FE724C;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-opacity: 1;  
    -fx-transition: all 0.2s ease-in-out; 
}

.btn-button:pressed {
    -fx-background-color: #CE5D3D; 
}

.combobox-style {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FE724C;  
    -fx-border-width: 2px; 
    -fx-border-radius: 5px;
    -fx-background-insets: 0, 0, 0, 0; 
    -fx-font-family: "Sofia Pro";
    -fx-font-size: 14px;
    -fx-text-fill: #2B3674;
}


.combobox-style{
	-fx-prompt-text-fill: #2B3674;
}

.receipt-button {
    -fx-font-family: "Sofia Pro"; 
    -fx-font-weight: Bold; 
    -fx-text-fill: white;  
    -fx-cursor: hand; 
    -fx-background-color: #FE724C;
    -fx-background-radius: 50px;
}
    
    
.logout_btn{
	-fx-font-family: "Sofia Pro"; 
	-fx-font-weight: Bold; 
	-fx-text-fill: white;  
	-fx-cursor: hand; 
	-fx-background-color: #FE724C; 
}

.logout_btn:pressed {
    -fx-background-color: #CE5D3D; 
}

.seeAll_Btn{
	-fx-font-family: "Sofia Pro"; 
	-fx-font-size: 9.5; 
	-fx-font-weight: Bold; 
	-fx-text-fill: white;  
	-fx-cursor: hand; 
}

.date_cmbBox{
	-fx-font-family: "Sofia Pro"; 
	-fx-font-weight: Bold; 
	-fx-prompt-text-fill: #FE724C;
	-fx-font-size: 8.5; 
}

.table-view .column-header {
	-fx-border-color: white;        /* Default border color */
	-fx-border-width: 15px;         /* Thin border */
	-fx-border-style: solid;
}


/* Style for the column header */
.table-view .column-header .label {
    -fx-font-family: "Sofia Pro";
    -fx-background-color: White; /* Background color for header */
    -fx-text-fill: #707eae;      /* Text color for header */
    -fx-font-size: 11.5px;
    -fx-font-weight: Bold;     /* Remove bold */
}

/* Align column cells to the center and add the border */
.table-view .table-cell {
    -fx-alignment: CENTER;       /* Align text to center */
    -fx-font-family: "Sofia Pro"; /* Same font family */
    -fx-text-fill: #707eae;      /* Text color */
    -fx-font-size: 11.5px;       /* Font size */
    -fx-font-weight: NORMAL;     /* Remove bold */
}


.red_btn {
    -fx-font-family: "Sofia Pro";
    -fx-font-size: 15px;
    -fx-background-color: #CC0C0C;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-opacity: 1;  
    -fx-transition: all 0.2s ease-in-out; 
}

.red_btn:pressed {
    -fx-background-color: #A30909; 
}